.contact-wrapper {
  height: 100%;
  background: #00000054;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/bg-contact.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: -1;
  }
  .contact-header {
    padding: 20px 0px;
    text-align: center;
    h5 {
      color: $text-white-only;
    }
    p {
      width: 50%;
      margin: auto;
      color: $text-white-only;
    }
  }
  .contact-body {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    .contact-left {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 20px;
      border-radius: 10px;
      width: 50%;
      .contact-left-wrapper {
        margin: auto;
      }

      .col {
        display: flex;
        align-items: flex-start;
        // margin-bottom: 5px;
        color: $text-white-only;
        padding: 10px;
        border-bottom: 1px solid #89afad;
        div {
          width: 70%;
          margin-left: 7px;
        }
      }
    }
    .contact-right {
      width: 50%;
      .form-container {
        form{
          width: 85%;
        }
        .form-body {
          margin: auto;
          display: grid;
          place-items: center;
          background: linear-gradient(45deg, #34d7e1, #7a047c);
          width: 60%;
          padding: 10px;
          border-radius: 5px;
          h6 {
            color: #fff;
            // font-weight: bold;
            font-size: 18px;
            letter-spacing: 1px;
          }
        }
        .form-grp {
          position: relative;
          width: 100%;
          margin-bottom: 15px;
          input {
            padding: 5px 10px;
            outline: none;
            border-radius: 5px;
            // box-shadow: 0px 3px 5px 0px #484848;
            border: none;
            width: 100%;
            &[type="text"],
            &[type="email"],
            &[type="password"] {
              background: #00000000;
              color: #fff;
              border-bottom: 1px solid;
            }
            &::placeholder {
              color: #d4cbcb;
            }
          }

          select {
            width: 100%;
            padding: 7px;
            background: #00000000;
            color: $text-white-only;
            border-radius: 5px;
            border: none;
            outline: none;
            border-bottom: 1px solid;
          }
          option {
            color: $text-white-only;
            background: #242323;
          }
          textarea {
            display: block;
            padding: 10px;
            border-radius: 5px;
            border: none;
            border: 1px solid #e3d2d5;
            background: #00000000;
            color: #fff;
            width: 100%;
            height: 70px;
            resize: none;
            outline: none;
            &::placeholder {
              color: #e6dcdc;
            }
          }
          img {
            position: absolute;
            right: 10px;
            width: 25px;
            top: 5px;
          }
        }

        .radio-grp {
          margin-top: 10px;
          border: 1px solid #e3d2d5;
          border-radius: 5px;
          padding: 5px 10px;
          p {
            margin-bottom: 6px;
            color: $text-white-only;
            font-weight: bold;
            letter-spacing: 1px;
            // border-bottom: 1px solid #6c0719;
          }
          input {
            width: auto;
            box-shadow: none;
          }
          label {
            cursor: pointer;
            margin: 0px 10px;
            color: $text-white-only;
          }
        }
        button {
          border: none;
          padding: 5px 10px;
          width: 100px;
          border-radius: 20px;
          background: linear-gradient(45deg, #023474, #38b0bd);
          color: #ddd;
          box-shadow: 0px 0px 2px white;
        }
      }
    }
  }
}
.error-field {
  border: 1px solid #eb573d !important;
}
