.contact-wrapper {
  height: 100%;
  background: #00000054;
  @include for-mobile {
    background: #0e5353;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/bg-contact.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: -1;
    @include for-mobile {
      content: none;
    }
  }
  .contact-header {
    padding: 20px 0px;
    text-align: center;
    h5 {
      color: $text-white-only;
    }
    p {
      width: 50%;
      margin: auto;
      color: $text-white-only;
      @include for-mobile {
        width: 85%;
      }
    }
  }
  .contact-body {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    @include for-mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #0e5353;
    }
    .contact-left {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 20px;
      border-radius: 10px;
      width: 50%;
      @include for-mobile {
        width: 100%;
      }
      .contact-left-wrapper {
        margin: auto;
      }

      .col {
        display: flex;
        align-items: flex-start;
        // margin-bottom: 5px;
        color: $text-white-only;
        padding: 10px;
        border-bottom: 1px solid #89afad;
        div {
          width: 70%;
          margin-left: 7px;
        }
      }
    }
    .contact-right {
      width: 50%;
      @include for-mobile {
        width: 100%;
      }
      .form-container {
        form {
          width: 85%;
        }
        .form-body {
          margin: auto;
          display: grid;
          place-items: center;
          background: linear-gradient(45deg, #34d7e1, #7a047c);
          width: 60%;
          padding: 10px;
          border-radius: 5px;
          @include for-large {
            width: 70%;
            font-size: 14px;
          }
          h6 {
            color: #fff;
            font-size: 18px;
            letter-spacing: 1px;
          }
        }
        .form-grp {
          position: relative;
          width: 100%;
          margin-bottom: 10px;
          @include for-large {
            margin-bottom: 8px;
          }
          input {
            padding: 5px 10px;
            outline: none;
            border-radius: 5px;
            // box-shadow: 0px 3px 5px 0px #484848;
            border: none;
            width: 100%;
            &[type="text"],
            &[type="email"],
            &[type="password"] {
              background: #00000000;
              color: #fff;
              border-bottom: 1px solid;
            }
            &::placeholder {
              color: #d4cbcb;
            }
          }

          select {
            width: 100%;
            padding: 7px;
            background: #00000000;
            color: $text-white-only;
            border-radius: 5px;
            border: none;
            outline: none;
            border-bottom: 1px solid;
          }
          option {
            color: $text-white-only;
            background: #242323;
          }
          textarea {
            display: block;
            padding: 10px;
            border-radius: 5px;
            border: none;
            border: 1px solid #e3d2d5;
            background: #00000000;
            color: #fff;
            width: 100%;
            height: 70px;
            resize: none;
            outline: none;
            &::placeholder {
              color: #e6dcdc;
            }
          }
          img {
            position: absolute;
            right: 10px;
            width: 25px;
            top: 5px;
            @include for-large {
              width: 20px;
            }
          }
        }

        .radio-grp {
          margin-top: 10px;
          border: 1px solid #e3d2d5;
          border-radius: 5px;
          padding: 5px 10px;
          p {
            margin-bottom: 6px;
            color: $text-white-only;
            font-weight: bold;
            letter-spacing: 1px;
            // border-bottom: 1px solid #6c0719;
          }
          input {
            width: auto;
            box-shadow: none;
          }
          label {
            cursor: pointer;
            margin: 0px 10px;
            color: $text-white-only;
          }
        }
        .btn-grp {
          position: relative;
          display: inline-block;
          overflow: hidden;
          padding: 5px;
          button {
            position: relative;
            border: none;
            padding: 5px 10px;
            width: 100px;
            border-radius: 20px;
            background: linear-gradient(45deg, #023474, #38b0bd);
            color: #ddd;
            box-shadow: 0px 0px 2px white;
            outline: none;

            /**first animation*/

            // &::before {
            //   content: "";
            //   height: 20px;
            //   width: 85px;
            //   background-image: linear-gradient(
            //     90deg,
            //     #a740a9,
            //     #135e55,
            //     rgb(236, 22, 22)
            //   );
            //   position: absolute;
            //   top: 7px;
            //   left: 0px;
            //   border-radius: 50px;
            //   z-index: -1;
            //   background: inherit;
            //   opacity: 0;
            // }
            // &:hover::before {
            //   opacity: 0.3;
            //   z-index: 1;
            //   filter: blur(7px);
            //   background-image: linear-gradient(
            //     90deg,
            //     #ff4aae,
            //     #a9ff8d,
            //     #bf2d2dba
            //   );
            //   animation: glow 5s linear infinite;
            // }
          }
          /**second animation*/
          &:hover span {
            &:nth-child(1) {
              position: absolute;
              background-image: linear-gradient(45deg, #c3000000, #0078bb);
              width: 100px;
              height: 2px;
              left: 0px;
              top: 0.5px;
              animation: animation_span1 2s linear infinite;
            }
            &:nth-child(3) {
              position: absolute;
              background-image: linear-gradient(45deg, #0078bb, transparent);
              width: 100px;
              height: 2px;
              left: 0px;
              bottom: -0.5px;
              animation: animation_span3 2s linear infinite;
            }
            &:nth-child(2) {
              position: absolute;
              background-image: linear-gradient(45deg, #0078bb, transparent);
              width: 2px;
              height: 35px;
              top: 0px;
              right: 0px;
              animation: animation_span2 2s linear infinite;
              animation-delay: 1s;
              opacity: 0;
            }
            &:nth-child(4) {
              position: absolute;
              background-image: linear-gradient(45deg, transparent, #0078bb);
              width: 2px;
              height: 35px;
              top: 0px;
              left: 0px;
              animation: animation_span4 2s linear infinite;
              animation-delay: 1s;
              opacity: 0;
            }
          }
        }
        /**For Animation first*/
        @keyframes glow {
          0% {
            background-size: 0%;
          }
          100% {
            background-size: 400%;
          }
        }
        /**For Animation second*/
        @keyframes animation_span1 {
          0% {
            transform: translateX(-100px);
          }
          100% {
            transform: translateX(100px);
          }
        }

        @keyframes animation_span3 {
          0% {
            transform: translateX(100px);
          }
          100% {
            transform: translateX(-100px);
          }
        }

        @keyframes animation_span2 {
          0% {
            opacity: 1;
            transform: translateY(-35px);
          }
          100% {
            opacity: 1;
            transform: translateY(35px);
          }
        }
        @keyframes animation_span4 {
          0% {
            opacity: 1;
            transform: translateY(35px);
          }
          100% {
            opacity: 1;
            transform: translateY(-35px);
          }
        }
      }
    }
  }
}
.error-field {
  border: 1px solid #eb573d !important;
}
