.main-body-container {
  height: calc(100vh - 77px);
  overflow-x: hidden;
}
.body-wrapper {
  height: 100%;
}
.home-wrapper {
  .carousel-con {
    .left {
      width: 50%;
      padding: 30px;
    }
    .right {
      width: 50%;
    }

    .carousel-card {
      width: 45%;
      margin: 10px;
    }
  }
}
.search-con {
  position: relative;
  width: 50%;
  input {
    border: 1px solid #025d7854;
    box-shadow: 1px 1px 7px #025d784f;
    color: #11475d;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    outline: none;
    font-size: 14px;
  }
  img {
    position: absolute;
    width: 39px;
    top: -3px;
    right: -6px;
  }
}
.sidebar {
  width: 15%;
  ul {
    li {
      cursor: pointer;
      padding: 5px 8px;
      margin-bottom: 2px;
      transition: all 0.5s ease;
      &:hover {
        background-image: linear-gradient(180deg, #9aceef24, #9ed0f05e);
      }
    }
  }
}
.body-content {
  width: 83%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  .product-con {
    position: relative;
    .product-card {
      .img-div {
        // width: 265px;
        height: 200px;
        overflow: hidden;
      }
      span {
        display: block;
        font-size: 15px;
        padding-left: 10px;
        color: #433838;
        &#truncate {
          width: 95%;
          color: #4e4c4c;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          height: calc(1.2em * 2);
          line-height: 1.2em;
        }
        &#price {
          color: #464343;
          font-weight: bold;
        }
      }
      img {
        max-width: 100%;
        min-height: 100%;
        display: block;
      }
    }

    .product-info {
      position: absolute;
      display: flex;
      justify-content: start;
      opacity: 0;
      width: 230%;
      height: 280px;
      background-image: linear-gradient(45deg, #1a5d69f2, #d5d5d5);
      top: 0;
      left: -25%;
      z-index: -1;
      padding: 20px;
      border-radius: 10px;
      transition: all 0.3s ease;
      .info-img-div {
        img {
          max-width: 100%;
          max-height: 100%;
          min-width: 100%;
          min-height: 100%;
        }
      }
      .product-content {
        width: 55%;
        margin-left: 10px;
        border-left: 2px solid #78beea;
        padding-left: 10px;
        button {
          border: none;
          padding: 7px;
          border-radius: 2px;
          background-image: linear-gradient(160deg, #ffffff, #aba9aa);
          color: #2b2929;
          font-size: 15px;
          margin-left: 20px;
        }
        span {
          font-size: 14px;
          color: #fff;
        }
        strong {
          color: #fff;
          font-size: 16px;
        }
        .quantity-con {
          position: relative;
          span {
            background: #fff;
            color: #272626;
            padding: 5px 10px;
            margin-right: 1px;
            border-radius: 3px;
          }
          .qty-span {
            position: absolute;
            padding: 0px;
            background: white;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            text-align: center;
            color: #000;
            top: 0;
            left: 40px;
            font-size: 12px;
            font-weight: bold;
            display: grid;
            place-items: center;
          }
          img {
            width: 50px !important;
            margin-right: 30px;
          }
        }
      }
    }

    &:hover .product-info {
      opacity: 1;
      z-index: 999;
    }
  }
}
