.main-body-container {
  height: calc(100vh - 77px);
}
.body-wrapper {
  height: 100%;
}
.home-wrapper {
  .carousel-con {
    .left {
      width: 50%;
      padding: 30px;
    }
    .right {
      width: 50%;
    }

    .carousel-card {
      width: 45%;
      margin: 10px;
    }
  }
}
.search-con {
  position: relative;
  width: 50%;
  input {
    border: 1px solid #025d7854;
    box-shadow: 1px 1px 7px #025d784f;
    color: #11475d;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    outline: none;
    font-size: 14px;
  }
  img {
    position: absolute;
    width: 39px;
    top: -3px;
    right: -6px;
  }
}
.sidebar {
  width: 15%;
  ul {
    li {
      cursor: pointer;
      padding: 5px 8px;
      margin-bottom: 2px;
      transition: all 0.5s ease;
      &:hover {
        background-image: linear-gradient(180deg, #9aceef24, #9ed0f05e);
      }
    }
  }
}
.body-content {
  width: 83%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  .product-con {
    position: relative;
    .product-card {
      .img-div {
        width: 265px;
        height: 200px;
        overflow: hidden;
      }
      span {
        display: block;
        font-size: 15px;
        padding-left: 10px;
      }
      img {
        max-width: 100%;
        min-height: 100%;
        display: block;
      }
    }

    .product-info {
      position: absolute;
      opacity: 0;
      transition: all 0.5s ease;
      .info-img-div {
        width: 50%;
      }

      .product-content {
        width: 50%;
        margin-left: 10px;
        border-left: 2px solid #78beea;
        padding-left: 10px;
        button {
          border: none;
          padding: 10px;
          border-radius: 2px;
          background-image: linear-gradient(160deg, #ffffff, #aba9aa);
          color: #2b2929;
          font-size: 15px;
        }
        span {
          font-size: 16px;
          color: #fff;
        }
        strong {
          color: #fff;
          font-size: 18px;
        }
        .quantity-con {
          position: relative;
          margin-bottom: 15px;
          span {
            background: #fff;
            color: #272626;
            padding: 5px 10px;
            margin-right: 1px;
            border-radius: 3px;
          }
          .qty-span {
            position: absolute;
            padding: 0px;
            background: white;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            text-align: center;
            color: #000;
            top: 0;
            left: 40px;
            font-size: 12px;
            font-weight: bold;
            display: grid;
            place-items: center;
          }
          img {
            width: 50px !important;
            margin-right: 30px;
          }
        }
      }
    }
    &:hover {
      .product-info {
        position: absolute;
        opacity: 1;
        height: 280px;
        width: 500px;
        background-image: linear-gradient(45deg, #1a5d69f2, #d5d5d5);
        top: 0;
        left: -25%;
        z-index: 1;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 9px #ababab;
        .info-img-div {
          img {
            max-width: 100%;
            max-height: 100%;
            min-width: 100%;
            min-height: 100%;
          }
        }
      }
    }
  }
}
