.header-con {
  background-image: linear-gradient(175deg, #399fe0, transparent);
}

// Menu - active
a {
  &.active {
    li {
      div {
        transform: translateY(-15px);
        position: relative;
        border: 5px solid #55ade5;
        background: #55ade5;
        &::before {
          content: "";
          position: absolute;
          height: 10px;
          width: 13px;
          background: #ffffff;
          top: 6px;
          left: -18px;
          border-radius: 0px 10px 0px 0px;
          box-shadow: 2px -5px 0px 2px #50aae4;
          transition: all 0.3s ease;
        }
        &::after {
          content: "";

          position: absolute;
          height: 10px;
          width: 13px;
          background: #ffffff;
          top: 6px;
          right: -18px;
          border-radius: 10px 0px 0px 0px;
          box-shadow: -2px -5px 0px 2px #50aae4;
          transition: all 0.3s ease;
        }
      }
      span {
        visibility: visible;
        transform: translateY(-15px);
      }
    }
  }
}

.menu-ul {
  background: #fff;
  border-radius: 50px;
  position: relative;
  width: 260px;
  padding: 4px 20px !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  li {
    position: relative;
    div {
      transition: all 0.3s ease;
      border: 5px solid #fff;
      background: #fff;
      border-radius: 50%;
      height: 35px;
      width: 35px;
    }
    span {
      position: absolute;
      visibility: collapse;
      color: #084368;
      font-size: 13px;
      font-weight: bold;
      transform: translateY(6px);
      transition: all 0.3s linear;
    }
    &:hover {
      div {
        transform: translateY(-15px);
      }
      span {
        visibility: visible;
        transform: translateY(-15px);
      }
    }

    /* trending effect*/

    // &:hover::before {
    //   position: absolute;
    //   content: "";
    // width: 30px;
    // height: 10px;
    // background: linear-gradient(173deg, #f9f9f9, transparent);
    // transform: rotate(15deg);
    // top: 5%;
    // opacity: 0.3;
    // border-radius: 10%;
    // animation: hoverAnimation 1s linear;
    // }
  }
}

// @keyframes hoverAnimation {
//   0% {
//     left: 0%;
//   }
//   100% {
//     left: 50%;
//   }
// }

.brand-logo {
  width: 50px;
}
.left {
  width: 20%;
  .user {
    position: relative;
    background-image: linear-gradient(45deg, #9ccff0, transparent, #dbeefa);
    border-radius: 30px;
    width: 90px;
    height: 30px;
    box-shadow: 0px 0px 5px #6aadd7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
    color: #084368;
    cursor: pointer;

    .user-icon {
      display: grid;
      place-items: center;
      height: 30px;
      width: 30px;
      background: #ffffff;
      border-radius: 20px 20px 5px 20px;
      transform: rotate(320deg);
      box-shadow: 0px 0px 5px #4d91c378;
      img {
        transform: rotate(41deg);
        width: 20px;
      }
    }
    span {
      font-size: 13px;
      color: #084368;
      letter-spacing: 0.5px;
    }
    &:focus-within .user-info-con {
      visibility: visible;
      top: 145px;
    }
  }
}

.user-info-con {
  visibility: collapse;
  position: absolute;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  right: 0px;
  top: 200px;
  height: 120px;
  width: 200px;
  padding: 10px;
  z-index: 999;
  transform: translateY(-100px);
  transition: all 0.3s linear;
  box-shadow: 0px 0px 15px #a7a79842;
  &::after {
    content: "";
    position: absolute;
    z-index: 999;
    width: 25px;
    top: -13px;
    right: 10px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #3e6f70f2;
  }
}
.user-info-body {
  .user-top {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: start;
    .user-image {
      position: relative;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      margin-right: 10px;
      img {
        width: 100%;
      }
      .edit {
        position: absolute;
        width: 16px;
        height: 16px;
        bottom: 4px;
        right: 0px;
        border-radius: 50%;
        display: grid;
        place-items: center;
      }
    }
    .user-content {
      display: flex;
      flex-direction: column;
      span {
      }
    }
  }
  .user-bottom {
    span {
      font-weight: bold;
      margin-left: 10px;
      border-left: 1px solid #03a8dd;
      padding-left: 10px;
    }
  }
}
.cart {
  position: relative;
  cursor: pointer;
  div {
    position: absolute;
    background: #fff;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    top: -8px;
    left: 25px;
    display: grid;
    place-items: center;
    font-size: 10px;
    font-weight: bold;
  }
  img {
    filter: drop-shadow(3px 3px 5px #084368);
  }
}

.toggle-con {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s;
  &.ligh-theme-con {
    background-image: url("../../assets/images/lightMode.webp");
  }
  &.dark-theme-con {
    background-image: url("../../assets/images/nightMode2.jpg");
    border: 1px solid $toggle-border;
  }
  .toggle-ball {
    position: absolute;
    width: 28px;
    height: 28px;
    // background-image: linear-gradient(45deg, #eb9730, #f1ff23);
    border-radius: 50%;
    top: 1%;
    transition: all 1s;
    &.light-theme-ball {
      // background-image: linear-gradient(45deg, #eb9730, #f1ff23);
      background-image: url("../../assets/images/sun.png");
      transform: rotate(0deg);
      left: 2%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      box-shadow: 0px 0px 1px #0006;
    }
    &.dark-theme-ball {
      // background-image: linear-gradient(45deg, #b32733, #d1d100);
      background-image: url("../../assets/images/moon.png");
      transform: rotate(360deg);
      left: 62%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      box-shadow: 0px 0px 10px 1px #fff;
    }
  }
}
// .active {
//   border-bottom: 1px solid #1db6ff;
// }
