.review-wrapper {
  .list {
    ul {
      max-height: 200px;
      overflow: auto;
    }
  }
}

/*==============================================================================
                    Draggable comp
==============================================================================*/
// .draggable-conn {
//   position: absolute;
//   width: 100px;
//   height: 50px;
//   background-color: #007bff;
//   color: #fff;
//   text-align: center;
//   line-height: 50px;
//   cursor: move;
// }

/*=========================================================
        Trending effect animation
=========================================================*/
.tending-effect-con {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  .tending-effect-card {
    position: relative;
    height: 200px;
    width: 200px;
    background: #131b4ee8;
    overflow: hidden;
    &::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 400px;
      background: linear-gradient(273deg, #ffffff,transparent, transparent);
      transform: rotate(8deg);
      top: -15%;
      opacity: 0.3;
      animation: hoverAnimation 1.5s infinite;
    }
  }
}
@keyframes hoverAnimation {
  0% {
    left: -40%;
  }
  100% {
    left: 100%;
  }
}
