//mobile -- extra small
// @mixin for-mobile {
//   @media (max-width: 576px) {
//     @content;
//   }
// }
//mobile -- small
@mixin for-mobile {
  @media (max-width: 576px) {
    @content;
  }
}

//tab -- medium
// @mixin for-tab {
//   @media (max-width: 768px) {
//     @content;
//   }
// }
//tab/small laptop --large
@mixin for-large {
  @media (max-width: 1000px) {
    @content;
  }
}

h1,h2,h3,h4,h5,h6 {
  color: #11475d !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a6d4f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5382da;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2389b7;
}
