//mobile -- extra small
// @mixin for-mobile {
//   @media (max-width: 576px) {
//     @content;
//   }
// }
//mobile -- small
@mixin for-mobile {
  @media (max-width: 576px) {
    @content;
  }
}

//tab -- medium
// @mixin for-tab {
//   @media (max-width: 768px) {
//     @content;
//   }
// }
//tab/small laptop --large
@mixin for-large {
  @media (max-width: 1000px) {
    @content;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #11475d !important;
}
img {
  max-width: 100%;
}
.page-not-found {
  height: 100vh;
  background: aliceblue;
  background-image: linear-gradient(2deg, #1e1e0e, #00323a);
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  .page-not-found-container {
    img {
      width: 30%;
      margin-bottom: 15px;
    }
    text-align: center;
  }
}
.react-calendar {
  margin-right: 10px;
  border: thin solid #abd6f23f;
  box-shadow: 0px 0px 10px #b7dcf4a6;
  border-radius: 4px;
  .react-calendar__tile--now {
    border-radius: 5px;
  }
  .react-calendar__tile--active {
    border-radius: 5px;
  }
}
.react-date-picker__wrapper {
  border: thin solid #abd6f2;
  border-radius: 3px;
  .react-date-picker__inputGroup {
    color: #486c83;
    font-size: 15px;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

//scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a6d4f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5382da;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2389b7;
}
